.about-container {
  width: 80%;
  margin: 4% auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 50px;
}

.about-container h1 {
  text-align: center;
  margin-bottom: 20px;
}

.about-container p {
  line-height: 1.6;
}
